<a href="https://colab.research.google.com/github/juno-yuu/COVID-Vaccine-and-Biotech-industry/blob/Erin/Final_Project_Clean.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Github

In [1]:
!git clone https://github.com/juno-yuu/COVID-Vaccine-and-Biotech-industry.git

Cloning into 'COVID-Vaccine-and-Biotech-industry'...
remote: Enumerating objects: 66, done.
remote: Counting objects: 100% (66/66), done.
remote: Compressing objects: 100% (64/64), done.
remote: Total 66 (delta 24), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (66/66), done.

### Imports

In [11]:
import warnings
warnings.filterwarnings('ignore')

import pandas.util.testing as tm
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm

### Read Dataset

In [12]:
# vaccination dataset
vacci = pd.read_csv("/content/COVID-Vaccine-and-Biotech-industry/us_state_vaccinations.csv")

# comfirmed
case_confirmed = pd.read_csv("/content/COVID-Vaccine-and-Biotech-industry/time_series_covid19_confirmed_US.csv")

# death
case_death = pd.read_csv("/content/COVID-Vaccine-and-Biotech-industry/time_series_covid19_deaths_US.csv")

# latest data
update = pd.read_csv("/content/COVID-Vaccine-and-Biotech-industry/05-26-2021_us.csv")

### Check datasets

In [7]:
vacci.head()

         date location  ...  daily_vaccinations_per_million  share_doses_used
0  2021-01-12  Alabama  ...                             NaN             0.207
1  2021-01-13  Alabama  ...                          1205.0             0.222
2  2021-01-14  Alabama  ...                          1445.0             0.212
3  2021-01-15  Alabama  ...                          1525.0             0.226
4  2021-01-16  Alabama  ...                          1529.0               NaN

[5 rows x 14 columns]

In [8]:
case_confirmed.head()

        UID iso2 iso3  code3  ...  5/23/21 5/24/21 5/25/21 5/26/21
0  84001001   US  USA    840  ...     7118    7118    7126    7135
1  84001003   US  USA    840  ...    21546   21554   21578   21593
2  84001005   US  USA    840  ...     2328    2328    2331    2331
3  84001007   US  USA    840  ...     2658    2659    2660    2662
4  84001009   US  USA    840  ...     6832    6832    6847    6856

[5 rows x 502 columns]

In [9]:
case_death.head()

        UID iso2 iso3  code3  ...  5/23/21 5/24/21 5/25/21 5/26/21
0  84001001   US  USA    840  ...      110     110     110     110
1  84001003   US  USA    840  ...      310     310     310     310
2  84001005   US  USA    840  ...       58      58      58      58
3  84001007   US  USA    840  ...       64      64      64      64
4  84001009   US  USA    840  ...      139     139     139     139

[5 rows x 503 columns]

In [14]:
update.head()

   Province_State Country_Region  ...   Testing_Rate  Hospitalization_Rate
0         Alabama             US  ...   53031.631480                   NaN
1          Alaska             US  ...  306626.660014                   NaN
2  American Samoa             US  ...    3846.084722                   NaN
3         Arizona             US  ...  132086.190465                   NaN
4        Arkansas             US  ...  100791.767789                   NaN

[5 rows x 18 columns]