<a href="https://colab.research.google.com/github/juno-yuu/COVID-Vaccine-and-Biotech-industry/blob/Erin/Final_Project_Clean.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Github

In [16]:
!git clone https://github.com/juno-yuu/COVID-Vaccine-and-Biotech-industry.git

fatal: destination path 'COVID-Vaccine-and-Biotech-industry' already exists and is not an empty directory.

### Imports

In [20]:
import warnings
warnings.filterwarnings('ignore')
import requests
import io
import pandas.util.testing as tm
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm

### Read Datasets

In [62]:
# vaccination dataset
vacci = pd.read_csv("/content/COVID-Vaccine-and-Biotech-industry/us_state_vaccinations.csv", index_col = 0)

# comfirmed
case_confirmed = pd.read_csv("/content/COVID-Vaccine-and-Biotech-industry/time_series_covid19_confirmed_US.csv")

# death
case_death = pd.read_csv("/content/COVID-Vaccine-and-Biotech-industry/time_series_covid19_deaths_US.csv")

# latest data
update = pd.read_csv("/content/COVID-Vaccine-and-Biotech-industry/05-26-2021_us.csv")

# manufacture daily
# download = requests.get('https://raw.githubusercontent.com/xinyanz-erin/covid-19-data/master/public/data/vaccinations/vaccinations-by-manufacturer.csv').content
# manu = pd.read_csv(io.StringIO(download.decode('utf-8')))
manu = pd.read_csv("https://raw.githubusercontent.com/xinyanz-erin/covid-19-data/master/public/data/vaccinations/vaccinations-by-manufacturer.csv", index_col = 1)

### Check datasets

In [63]:
vacci.head()

           location  ...  share_doses_used
date                 ...
2021-01-12  Alabama  ...             0.207
2021-01-13  Alabama  ...             0.222
2021-01-14  Alabama  ...             0.212
2021-01-15  Alabama  ...             0.226
2021-01-16  Alabama  ...               NaN

[5 rows x 13 columns]

In [8]:
case_confirmed.head()

        UID iso2 iso3  code3  ...  5/23/21 5/24/21 5/25/21 5/26/21
0  84001001   US  USA    840  ...     7118    7118    7126    7135
1  84001003   US  USA    840  ...    21546   21554   21578   21593
2  84001005   US  USA    840  ...     2328    2328    2331    2331
3  84001007   US  USA    840  ...     2658    2659    2660    2662
4  84001009   US  USA    840  ...     6832    6832    6847    6856

[5 rows x 502 columns]

In [9]:
case_death.head()

        UID iso2 iso3  code3  ...  5/23/21 5/24/21 5/25/21 5/26/21
0  84001001   US  USA    840  ...      110     110     110     110
1  84001003   US  USA    840  ...      310     310     310     310
2  84001005   US  USA    840  ...       58      58      58      58
3  84001007   US  USA    840  ...       64      64      64      64
4  84001009   US  USA    840  ...      139     139     139     139

[5 rows x 503 columns]

In [14]:
update.head()

   Province_State Country_Region  ...   Testing_Rate  Hospitalization_Rate
0         Alabama             US  ...   53031.631480                   NaN
1          Alaska             US  ...  306626.660014                   NaN
2  American Samoa             US  ...    3846.084722                   NaN
3         Arizona             US  ...  132086.190465                   NaN
4        Arkansas             US  ...  100791.767789                   NaN

[5 rows x 18 columns]

In [61]:
manu.head()

           location          vaccine  total_vaccinations
date
2020-12-24    Chile  Pfizer/BioNTech                 420
2020-12-25    Chile  Pfizer/BioNTech                5198
2020-12-26    Chile  Pfizer/BioNTech                8338
2020-12-27    Chile  Pfizer/BioNTech                8649
2020-12-28    Chile  Pfizer/BioNTech                8649

### Data Cleaning and Combining

In [90]:
manu.location.unique()
manu.vaccine.unique()

array(['Pfizer/BioNTech', 'Sinovac', 'Oxford/AstraZeneca', 'Moderna',
       'Johnson&Johnson'], dtype=object)

In [93]:
Pf_manu = manu.loc[manu.vaccine == 'Pfizer/BioNTech']
Pf_manu = Pf_manu.loc[Pf_manu.location == 'United States', ['vaccine', 'total_vaccinations']]
print(Pf_manu.head())

Mod_manu = manu.loc[manu.vaccine == 'Moderna']
Mod_manu = Mod_manu.loc[Mod_manu.location == 'United States', ['vaccine', 'total_vaccinations']]
print(Pf_manu.head())

JJ_manu = manu.loc[manu.vaccine == 'Johnson&Johnson']
JJ_manu = JJ_manu.loc[JJ_manu.location == 'United States', ['vaccine', 'total_vaccinations']]
print(Pf_manu.head())

                    vaccine  total_vaccinations
date
2021-01-12  Pfizer/BioNTech             5488697
2021-01-13  Pfizer/BioNTech             6025872
2021-01-15  Pfizer/BioNTech             7153268
2021-01-19  Pfizer/BioNTech             8874811
2021-01-20  Pfizer/BioNTech             9281063
                    vaccine  total_vaccinations
date
2021-01-12  Pfizer/BioNTech             5488697
2021-01-13  Pfizer/BioNTech             6025872
2021-01-15  Pfizer/BioNTech             7153268
2021-01-19  Pfizer/BioNTech             8874811
2021-01-20  Pfizer/BioNTech             9281063
                    vaccine  total_vaccinations
date
2021-01-12  Pfizer/BioNTech             5488697
2021-01-13  Pfizer/BioNTech             6025872
2021-01-15  Pfizer/BioNTech             7153268
2021-01-19  Pfizer/BioNTech             8874811
2021-01-20  Pfizer/BioNTech             9281063

In [100]:
vacci_us = vacci.groupby('date').sum()
vacci_us.head()

            total_vaccinations  ...  share_doses_used
date                            ...
2020-12-20            556208.0  ...               0.0
2020-12-21            614117.0  ...               0.0
2020-12-22                 0.0  ...               0.0
2020-12-23           1008025.0  ...               0.0
2020-12-24                 0.0  ...               0.0

[5 rows x 12 columns]

In [101]:
Pf_manu_vacci = Pf_manu.join(vacci_us, how = 'left', lsuffix = '_manu', rsuffix = '_vacci')
Pf_manu_vacci.head(10)

                    vaccine  ...  share_doses_used
date                         ...
2021-01-12  Pfizer/BioNTech  ...            22.400
2021-01-13  Pfizer/BioNTech  ...            22.858
2021-01-15  Pfizer/BioNTech  ...            25.348
2021-01-19  Pfizer/BioNTech  ...            31.807
2021-01-20  Pfizer/BioNTech  ...            29.289
2021-01-21  Pfizer/BioNTech  ...            29.708
2021-01-22  Pfizer/BioNTech  ...            30.947
2021-01-23  Pfizer/BioNTech  ...            32.201
2021-01-24  Pfizer/BioNTech  ...            34.297
2021-01-25  Pfizer/BioNTech  ...            35.432

[10 rows x 14 columns]

In [102]:
Mod_manu_vacci = Mod_manu.join(vacci_us, how = 'left', lsuffix = '_manu', rsuffix = '_vacci')
Mod_manu_vacci.head(10)

            vaccine  ...  share_doses_used
date                 ...
2021-01-12  Moderna  ...            22.400
2021-01-13  Moderna  ...            22.858
2021-01-15  Moderna  ...            25.348
2021-01-19  Moderna  ...            31.807
2021-01-20  Moderna  ...            29.289
2021-01-21  Moderna  ...            29.708
2021-01-22  Moderna  ...            30.947
2021-01-23  Moderna  ...            32.201
2021-01-24  Moderna  ...            34.297
2021-01-25  Moderna  ...            35.432

[10 rows x 14 columns]

In [103]:
JJ_manu_vacci = JJ_manu.join(vacci_us, how = 'left', lsuffix = '_manu', rsuffix = '_vacci')
JJ_manu_vacci.head()

                    vaccine  ...  share_doses_used
date                         ...
2021-03-08  Johnson&Johnson  ...            48.895
2021-03-09  Johnson&Johnson  ...            47.252
2021-03-10  Johnson&Johnson  ...            46.764
2021-03-11  Johnson&Johnson  ...            46.788
2021-03-12  Johnson&Johnson  ...            47.498

[5 rows x 14 columns]

### Predictions